<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.hz.forum.dao.ModuleDAO">
    
    <resultMap type="com.hz.forum.entity.Module" id="ModuleResultMap">
    <id property="moduleId" column="module_id"></id>
        <result property="moduleName" column="module_name"></result>
        <result property="moduleLevel" column="module_level"></result>
        <result property="moduleTroduce" column="module_troduce"></result>
    </resultMap>
    <select id="selectAll" resultMap="ModuleResultMap">
        select * from forum_module <if test="dim!=null">where module_name like #{dim}</if>
        limit #{begin},#{showSize}
    </select>

    <select id="countArticle" resultType="int">
        select count(*) from forum_module
        <if test="dim!=null">where module_name like #{dim}</if>
    </select>

    <!--<select id="findByManagername" resultMap="ManagerResultMap">
        select * from forum_manager where forum_name =#{forumName}
    </select>-->
    
    <!--<select id="findRolesByManager" resultType="SysRole">
        select id id,role_name roleName,role_tag roleTag from sys_role where id in (SELECT role_id from sys_user_role where user_id =(SELECT mgr_id from manager where mgr_name =#{mgrName}))
    </select>-->

    <!--<select id="findPermissionsByUsername" resultType="SysPermission">
        SELECT
        id id,
        resource_name resourceName,
        resource_tag  resourceTag,
        resource_url  resourceUrl,
        permission_tag permissionTag
        from sys_permission where id in(select permission_id from sys_role_permission where role_id in((SELECT role_id from sys_user_role where user_id =(SELECT mgr_id from manager where mgr_name =#{mgrName}))))
    </select>-->


</mapper>
